[gerrit]
  basePath = {{ gerrit_config_base_path }}
  canonicalWebUrl = {{ gerrit_config_canonical_weburl }}

[index]
  type = {{ gerrit_index_type }}

[auth]
  type = {{ gerrit_auth_type }}

[sendemail]
  enable = {{ gerrit_sendemail_enable }}
  {% if gerrit_sendemail_enable == 'true' %}smtpServer = {{ gerrit_sendemail_smtpServer }}{% endif %}
  {% if gerrit_sendemail_enable == 'true' %}smtpServerPort = {{ gerrit_sendemail_smtpServerPort }}{% endif %}
  {% if gerrit_sendemail_enable == 'true' %}gerrit_sendemail_sslVerify = {{ gerrit_sendemail_sslVerify }}{% endif %}
  {% if gerrit_sendemail_enable == 'true' and gerrit_sendemail_smtpUser|length > 1 %}{{ gerrit_sendemail_smtpUser }}{% endif %}
  {% if gerrit_sendemail_enable == 'true' and gerrit_sendemail_smtpPass|length > 1 %}{{ gerrit_sendemail_smtpPass }}{% endif %}

[container]
  heapLimit = {{ gerrit_container_heap_limit }}
  javaOptions = {{ gerrit_container_java_options }}
  user = {{ gerrit_container_user }}

[sshd]
  listenAddress = {{ gerrit_sshd_listen_address }}
  threads = {{ gerrit_sshd_threads }}

[httpd]
  listenUrl = {{ gerrit_httpd_listen_url }}

[cache]
  directory = {{ gerrit_cache_directory }}

[receive]
  checkReferencedObjectsAreReachable = {{ gerrit_receive_checkReferencedObjectsAreReachable }}
